<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pe_exchange.user_id %>
</p>

<p>
  <strong>Prize date:</strong>
  <%= @pe_exchange.prize_date %>
</p>

<p>
  <strong>Product d:</strong>
  <%= @pe_exchange.product_d %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pe_exchange.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @pe_exchange.phone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @pe_exchange.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @pe_exchange.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @pe_exchange.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @pe_exchange.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @pe_exchange.zip %>
</p>

<p>
  <strong>Id card:</strong>
  <%= @pe_exchange.id_card %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pe_exchange.status %>
</p>

<%= link_to 'Edit', edit_pe_exchange_path(@pe_exchange) %> |
<%= link_to 'Back', pe_exchanges_path %>
