<p id="notice"><%= notice %></p>

<p>
  <strong>Banner:</strong>
  <%= @pe_exchange_common.banner %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @pe_exchange_common.interval %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @pe_exchange_common.maintenance %>
</p>

<%= link_to 'Edit', edit_pe_exchange_common_path(@pe_exchange_common) %> |
<%= link_to 'Back', pe_exchange_commons_path %>
